* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6)60%, rgba(0, 0, 0, 0.6)60%), url(img1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.nav {
    width: 1300px;
    height: 45px;
    margin: auto;
}

.icon {
    width: 250px;
    float: left;
    height: 70px;
}

.logo {

    color: orangered;
    font-size: 35px;
    font-family: Arial;
    padding-left: 5px;
    padding-top: 35px;
    float: left;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    display: flex;
    justify-content: center;
    float: left;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 20px;
    margin-right: 35px;
    font-size: 18px;
}

ul li a {
    text-decoration: none;
    font-size: Areal;
    color: white;
    font-weight: bold;
    transition: 0.8 ease-in-out;
}

ul li a:hover {
    color: orangered;
}

.search {
    float: left;
    margin-left: 400px;

}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orangered;
    margin-top: -5px;
    margin-right: -4px;
    padding: 10px;
    border-right: none;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    height: 40px;
    background-color: orangered;
    width: 80px;
    border: 2px solid orangered;
    /* border-left: none; */
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    margin-left: -3x;
    font-size: 15px;

}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    display: flex;
    width: 1300px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
}

.lrm {
    width: auto;
    color: white;
    margin-left: 110px;
    margin-top: 10px;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 18px;
}

.jns {
    height: 40px;
    width: 140px;
    margin-left: 110px;
    padding: 5px;
    margin-top: 40px;
    background: orangered;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}


.jns a {
    text-decoration: none;
    color: white;

}

.content span {
    color: orangered;
}

.form {
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    height: 350px;
    width: 270px;
    left: 1100px;
    top: 200px;
    border-radius: 10px;
    padding: 20px;
}

.form h2 {
    color: orangered;
    background-color: white;
    font-size: 27px;
    text-align: center;
    font-size: bold;
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
}

.form input {
    height: 35px;
    width: 260px;
    color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid orangered;
    background: transparent;
    margin-top: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.form input:focus {
    outline: none;
}

.form ::placeholder {
    color: white;
    font-family: Arial;
}

.btnn {
    height: 40px;
    width: 260px;
    background: orangered;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    transition: 0.4s ease;
}

.btnn:hover {
    color: orangered;
    background: white;
}

.btnn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.link {
    margin-top: 15px;
    text-align: center;
}

.link {
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;

}

.form .link a {
    text-decoration: none;
    color: orangered;
    text-align: center;
    margin-top: 25px;
    padding-top: 5px;


}

.form .liw a {
    text-decoration: none;
    color: white;
    margin-left: 100px;
    margin-top: 10px;
    text-align: center;

}

.form .or a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding-left: 130px;
}

.form .icon a {
    margin: 5px;
    margin-top: 10px;
    color: white;
}

.icon ion-icon {
    color: white;
    font-size: 25px;
    margin-top: 15px;
    padding-left: 22px;
    font-weight: bold;
    color: orangered;
}